span {
  margin-left: 5px;
  color: lightgray;
  font-style: italic;
}

.delete {
  font-style: none;
  color: lightblue;
}

.delete:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
