/*span {
  margin-left: 5px;
  color: lightgray;
  font-style: italic;
}*/

.delete {
  font-style: none;
  color: lightblue;
}

.delete:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.card:nth-child(even) {
  float: right;
}

.btn-flat {
  text-align: center;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
    max-height: 100%;
    overflow: scroll;
}
