<nav ng-controller="LogOutCtrl">
  <div class="nav-wrapper blue-grey darken-2">

    <a class="brand-logo blue-grey-text text-lighten-4" ui-sref="questions">Do or Don't</a>
    <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="my_questions">My Questions</a></li>
      <li><a ui-sref="home" ng-click="logOut()">Log Out</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a ui-sref="my_questions">My Questions</a></li>
      <li><a ng-click="logOut()">Log Out</a></li>
    </ul>
  <div>
</nav>
