<div class="container">
  <div class="row">
    <h1>To Do Or Not To Do, What Is Your Question?</h1>

    <h3><a ui-sref="questions">Ask The World A Question</a></h3>

  </div>

  <div class="row" ng-show="signUpForm">
    <div class="row">
      <form class="col s12" ng-submit="createUser()">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="password" id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn blue">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" ng-show="signInForm">
    <div class="row">
      <form class="col s12" ng-submit="login()">
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="password" id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn blue">Log In</button>
        </div>
      </form>
    </div>
  </div>

  <a ng-show="signIn" ng-click="showSignIn()" class="waves-effect waves-light btn-large blue">Sign In</a>
  <a ng-show="signUp" ng-click="showSignup()" class="waves-effect waves-light btn-large blue">Sign Up</a>
{{message}}
{{error}}

</div>
