<h1>My Questions</h1>

<div class="row">
  <div class="card medium blue-grey darken-1 col l5 m12 s12" ng-repeat='question in filtered = (questions | orderBy: "-" |filter: {user: currentAuth}:true)'>
    <div class="card-content">
      <span class="card-title">
        <a ui-sref='question({ questionId: question.$id})'>{{question.text}}</a>
      </span>
    </div>
    <div class="card-action">
      <button class="waves-effect waves-light btn-flat blue" ng-click="do(question.$id)"><i class="material-icons no-user-select">thumb_up</i> Do!: {{question.Do}}</button>
      <button class="waves-effect waves-light btn-flat blue" ng-click="dont(question.$id)"><i class="material-icons no-user-select">thumb_down</i>Don't!: {{question.Dont}}</button><br>
      <span ng-click="delete(question.$id)" class="delete no-user-select">Delete</span>
    </div>
  </div>
</div>
