<div>
  <h2>{{question.text}}</h2>
  <h3>Answers</h3>
  <ul>
    <li ng-repeat='answer in question.answers'>
      {{answer.text}}
    </li>
  </ul>
  <div class="row">
    <form class="col s12" ng-submit='addAnswer()'>
      <div class='row'>
        <input id="answer" type="text" ng-model='answer' placeholder='Enter Your Answer Here'>
      </div>
      <button type='submit' class='btn blue'>Answer!</button>
    </form>
  </div>
  <a ui-sref="questions"><button class='btn blue'>Go back</button></a>
</div>
